* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}
div.container{
  margin-top: 5vmin;
}

#bA{
  font-size: 2.5vmin ;
  color: #ffcc00;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  text-align: center;
}


div.btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#playBtn {
  justify-content: space-around;
  padding: 0.2vmin; 
  width: 6vmin;
  height: 3vmin;
}
#pauseBtn {
  justify-content: space-around;
  padding: 0.2vmin;
  width: 6vmin;
  height: 3vmin;
}
#stopBtn {
  justify-content: space-around;
  padding: 0.2vmin;
  width: 6vmin;
  height: 3vmin;
}
div.slider {
  display: flex;
  justify-content: center;
  align-items: baseline;
}


header {
  display: flex;
  margin-bottom: -4vmin;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #000;
}

h1#title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 6vmin; 
  color: #ffcc00;
  text-shadow: 2vmin 2vmin 4vmin #ff0033; 
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  margin: 4vmin 0;
}

div#score-live {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 4vmin;
  text-align: center;
  font-size: 3vmin;
  background-color: #000;
  margin-bottom: 2vmin;
}

div#scoreboard {
  background-color: #ffcc00;
  color: #ff0033;
  font-size: 3vmin;
  padding: 1vmin 2vmin;
  border: 0.2vmin solid #ff0033;
  border-radius: 2vmin;
  text-transform: uppercase;
  font-family: 'Courier New', monospace;
  margin: 2vmin 0;
}

div#scoreboard:hover {
  background-color: #ff0033;
  color: #ffcc00;
}

div#lives {
  background-color: #ffcc00;
  color: #ff0033;
  font-size: 3vmin;
  padding: 1vmin 2vmin;
  border: 0.2vmin solid #ff0033;
  border-radius: 2vmin;
  text-transform: uppercase;
  font-family: 'Courier New', monospace;
  margin: 2vmin 0;
}

div#lives:hover {
  background-color: #ff0033;
  color: #ffcc00;
}

div#buttonContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.grid-wrapper {
  height: 70vmin;
  width: 70vmin;
  background-color: #000;

}

.grid {
  position: relative;
  align-items: center;
  box-shadow: 0 0 2vmin 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%; 
  width: 100%; 
  justify-content: center;
  box-shadow: #090677;
}

.grid div {
  border: 0.2vmin solid lightgrey;
  flex-grow: 1;
  height: 8vmin; 
  width: 8vmin; 
}

.grid div.pac {
  background-image: url('../assets/pac-man-Icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}
.grid div.pac-up {
  background-image: url('../assets/pac-man-Icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: rotate(270deg);
  z-index: 2;
}
.grid div.pac-right {
  background-image: url('../assets/pac-man-Icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: rotate(0deg);
  z-index: 2;
}
.grid div.pac-down {
  background-image: url('../assets/pac-man-Icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: rotate(90deg);
  z-index: 2;
}
.grid div.pac-left {
  background-image: url('../assets/pac-man-Icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
   transform: scaleX(-1);
  z-index: 2;
}


.grid div.coin {
  background-image: url('../assets/coin-pacmna.webp');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1;
}

.grid div.red {
  background-image: url('../assets/red-ghost-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

.grid div.blue {
  background-image: url('../assets/blue06.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

.grid div.pink {
  background-image: url('../assets/pink02.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

.grid div.orange {
  background-image: url('../assets/pac-man-ghost-orange.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

button {
  margin-bottom: 4vmin;
  display: none;
  position: relative;
  background-color: #ffcc00;
  color: #ff0033;
  font-size: 3vmin; 
  padding: 2vmin 4vmin; 
  border: 0.2vmin solid #ff0033;
  border-radius: 2vmin;
  text-transform: uppercase;
  font-family: 'Courier New', monospace;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 2;
  animation: pulse 1s infinite alternate;
}

button:hover {
  background-color: #ff0033;
  color: #ffcc00;
}

@keyframes pulse {
  0% {
  transform: scale(1);
}
100% {
  transform: scale(1.1);
}
}

div#winner {
  padding: -2vmin;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 4vmin;
  text-align: center;
  font-size: 6vmin;
  background-color: #000;
}

#winnerS {
  display: none;
  background-color: #ffcc00;
  color: #ff0033;
  font-size: 4vmin;
  padding: 2vmin 4vmin;
  border: 0.2vmin solid #ff0033;
  border-radius: 2vmin;
  text-transform: uppercase;
  font-family: 'Courier New', monospace;
  margin: 2vmin 0;
}

div#madeBy {
  margin-top: 5vmin;
  background-color: #000;
  text-transform: uppercase;
  font-family: 'Courier New', monospace;
  text-align: center;
  color: #ffcc00;
}

.wall {
  background-color: blue;
}

div#controls {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: #ffcc00;
  background-color: #000;
  margin-right: 20vh;
  margin-top: -20vh;
  height: 4vh;
  width: 4vh;
}
