* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
  }
  header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1{
    display: flex;
    justify-content: center;
    border: 0.1vmin solid black;
    border-style: groove;
  }

  .grid-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    margin-top: -10vmin;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 700px;
    width: 700px;
  }
  
  .grid div {
    border: 1px solid lightgrey;
    flex-grow: 1;
    height: 10%;
    width: 10%;
  }

  .grid div.pac {
    background-image: url('../assets/pac-man-Icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 2;
  }

  .grid div.coin {
    background-image: url('../assets/871304-middle.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .grid div.rGhost {
    background-image: url('../assets/red-ghost-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 2;
  }
  
  .grid div.bGhost {
    background-image: url('../assets/blue-ghost-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 2;
  }
  
  .grid div.pGhost {
    background-image: url('../assets/pink-ghost-icon.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 2;
  }
  
  .grid div.oGhost {
    background-image: url('../assets/orange-ghost-icons.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 2;
  }
  
  
  
  
  
  
  
  
  
  .wall {
    background-color: blue;
  }